// @import 'yoga';
// @import 'normalize';

$fa-font-path: '//netdna.bootstrapcdn.com/font-awesome/4.3.0/fonts';
@import 'font-awesome';
@import 'box-sizing';

ul {
  list-style: none;
}

img {
  max-width: 100%;
}


.outer-container {

}

.container {
  width: 100%;
}

.row {

}

.grid-item {

}

.shop-item {
  border: solid 0.2rem blue;
  width: 90%;
  text-align: center;
}

.shirt-div {
  width: 100%;
}

.shop-item-info {
  color: #00aced;

}

.buttons {

}

.shop-item-buttons {
  color: #00aced;
  width: 100%;
  list-style: none;
  display: flex;
  flex-direction: row;
  padding: 5%;
  border-top: solid #00aced;
  margin: 0;
}

.dropdown {

}

.dropdown-options {
  display: none;

  :hover {
    background: green;
  }
}

.dropdown__options-items-shirt-color-pink {
  color: pink;
}

.dropdown__options-items-shirt-color-blue {
  color: #00aced;
}

.dropdown__options-items-shirt-color-yellow {
  color: yellow;
}

.dropdown__options-items-shirt-color-green {
  color: green;
}

.shop-button {
  width: 20%;
  margin: 0;
}

.dropdown-options {
  display: none;
}

.dropdown__options-item {
  display: none;
}

.square {
  border-right: solid #00aced;
  border-left: solid #00aced;
}

.fa-refresh {
  //border-right: solid #00aced;
}

.fa-heart-o {

}

.fa-square {

}

.dropdown-sizes {

}

.dropdown__options-item dropdown__options-item-s {

}

.dropdown__options-item dropdown__options-item-m {

}

.dropdown__options-item dropdown__options-item-l {

}

.dropdown__options-item dropdown__options-item-xl {
  color: white;
  background: #00aced;
}

.position-xl {

}

.cart-border {
  border-left: solid #00aced;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 3%;
}
