// @import 'yoga';
// @import 'normalize';

$fa-font-path: '//netdna.bootstrapcdn.com/font-awesome/4.3.0/fonts';

$max-content-width: 60rem;
$gutter: 1rem;
$brand-primary: #3473b5;
$brand-white: #fff;




@import 'font-awesome';
@import 'box-sizing';

ul {
  list-style: none;
}

img {
  max-width: 100%;
}


.outer-container {
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  margin: 0;
  padding: 0;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.grid-item {
  width: 35%;
  margin: 1.5%;
  padding: 0;
}

.shop-item {
  border: solid 0.2rem $brand-primary;
  width: 100%;
  text-align: center;
  margin: 0;
  padding: 0;
}

.shirt-div {
  width: 100%;
  margin-top: 5%;
}

.shop-item-info {
  color: $brand-primary;
}

.shop-item-buttons {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 0;
  padding: 0;
  border-top: solid 0.2rem $brand-primary;
  color: $brand-primary;
  list-style: none;
}

.square {
  width: 100%;
  padding: $gutter;
  text-align: center;
  position: relative;


  &:hover {
    dropdown-options {
      display: flex;
    }
  }
}

.dropdown {
  &:hover {
    .dropdown-options {
      display: flex;
    }
  }
}

.dropdown-options {
  display: none;
  flex-direction: column;
  align-items: center;
  width: calc(100% + 0.2rem + 0.2rem);
  position: absolute;
  bottom: 100%;
  left: -0.2rem;
  padding: 0;
  background: white;
  border-left: solid 0.2rem $brand-primary;
  border-right: solid 0.2rem $brand-primary;
}

.dropdown__options-items-shirt-color-pink {
  color: #e577aa;
  border-top: solid 0.2rem $brand-primary;
  border-bottom: solid 0.2rem $brand-primary;
  width: 100%;
  &:hover {
    font-size: 1.4rem;
  }
}

.dropdown__options-items-shirt-color-blue {
  color: #72bbe9;
  border-top: solid 0.2rem $brand-primary;
  width: 100%;
  &:hover {
    font-size: 1.4rem;
  }
}

.dropdown__options-items-shirt-color-yellow {
  color: #e5b178;
  border-top: solid 0.2rem $brand-primary;
  width: 100%;
  &:hover {
    font-size: 1.4rem;
  }
}

.dropdown__options-items-shirt-color-green {
  color: #7abe93;
  border-top: solid 0.2rem $brand-primary;
  width: 100%;
  &:hover {
    font-size: 1.4rem;
  }
}

.shop-button {
  width: 20%;
  margin: 0;
  padding: 2% 5%;
  border-right: solid 0.2rem $brand-primary;
  &:hover {
    background: $brand-primary;
    color: $brand-white;
  }
  &:last-of-type {
    border-right: 0;
  }
}

.dropdown__options-item {
  display: flex;
}

.dropdown {
  position: relative;
}

.fa-refresh {
  padding: 2% 5%;
}

.fa-heart-o {
  padding: 2% 5%;
}

.fa-square {
  padding: 2% 5%;
}

.dropdown__options-item-s {
  color: $brand-primary;
  background: $brand-white;
  border-top: solid 0.2rem $brand-primary;
  width: 100%;
  justify-content: center;
  padding: 1.2%;
  &:hover {
    font-size: 1.4rem;
  }
}

.dropdown__options-item-m {
  color: $brand-primary;
  background: $brand-white;
  border-top: solid 0.2rem $brand-primary;
  width: 100%;
  justify-content: center;
  padding: 1.2%;
  &:hover {
    font-size: 1.4rem;
  }
}

.dropdown__options-item-l {
  color: $brand-primary;
  background: $brand-white;
  border-top: solid 0.2rem $brand-primary;
  width: 100%;
  justify-content: center;
  padding: 1.2%;
  &:hover {
    font-size: 1.4rem;
  }
}

.dropdown__options-item-xl {
  color: $brand-primary;
  background: $brand-white;
  border-top: solid 0.2rem $brand-primary;
  border-bottom: solid 0.2rem $brand-primary;
  width: 100%;
  justify-content: center;
  padding: 1.2%;
  &:hover {
    font-size: 1.4rem;
  }
}

@media screen and (min-width: 500px) and (max-width: 980px)
  {
.container {
  margin: 0 auto;
  }

.row {
    display: block;
    min-width: 200%;
  }

.shop-item {
    display: flex;
    flex-direction: row;
    margin-bottom: 1.5rem;
  }

.shirt-div {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0 0 0 2%;
  }

  .dropdown-options {
    flex-direction: row;
    display: none;
    flex-direction: row-reverse;
    align-items: center;
    width: calc(100% + 0.2rem + 0.2rem);
    position: absolute;
    bottom: 100%;
    left: -0.2rem;
    padding: 0;
    background: white;
    border-left: solid 0.2rem $brand-primary;
    border-right: solid 0.2rem $brand-primary;
  }

  .shop-item-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 150%;
    padding: 7vh;
  }

  .shop-item-description {
    align-items: center;
  }

  .shop-button {
    border-right: 0;
    border-bottom: solid 0.2rem $brand-primary;
  }

  .shop-item-buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-top: 0;
    width: 10%;
    margin: 0;
    padding: 2%;
    border-left: solid 0.2rem $brand-primary;
    color: $brand-primary;
    list-style: none;
  }
}
